.demo {
  padding: 2rem;
}

.demo h1 {
  font-size: 1rem;
}

.demo > h1 {
  padding-bottom: .5rem;
  border-bottom: 1px solid #ededed;
  margin: 20px 0;
}

.demo > h1 a {
  color: #4078c0;
  text-decoration: none;
}

.demo > h1:hover a {
  text-decoration: underline;
}

.emojione {
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.emoji-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.emoji-menu {
  height: 250px;
  overflow: hidden;
}

.emoji-categories {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.emoji-container > div {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.emoji-container.modifiers {
  display: block;
  text-align: right;
}

.emoji-container.modifiers > div {
  display: inline-block;
}

article h1 {
  margin: 0 0 5px 10px;
  padding-bottom: 5px;
  text-transform: capitalize;
  border-bottom: 1px solid #ededed;
}
